body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    
}

.title {
    color: #a81f1f;
    font-size: 50px;
    text-align: center;
}

h2,
h1.dish {
    color: #c54444;
    
}

.dish {
    text-align: center;
}

.img {
    text-align: center;
}

.main-page {
    text-decoration: none;
}

.home {
    background-color: #a81f1f;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    
}

h3 {
    color: #b65f0d;
}

.blockh3 {
    padding-left: 2%;
}

.link {
    text-align: center;
}